.jumbotron{
	 background: url('https://images.pexels.com/photos/398532/pexels-photo-398532.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb') no-repeat !important;
	 height: 700px

}

.navbar{
	background-color: white;
	height: 75px;
}