body {
    background: #f4f4f4;
}

.navbar {
    max-height: 55px !important;
    margin-bottom: 0px !important;
    border-radius: 0 !important;
    background-color: #cc4c4c;
    border: none;
    color: #eeeeee;
}

.navbar-brand{
    color: #eeeeee !important;
}
.navbar p{
    color: #eeeeee !important;
    padding-top: 15px !important;
}
.navbar a{
    color: #eeeeee !important;
    /*padding-top: 15px !important;*/
}

.navbar a:hover {
    color: #eeeeee;
    transform: scale(1.1);
}

/*Custom theme colors*/
.main-color-bg{
    background-color: #ca4f4f!important;
    border-color: #c0392b !important;
    color: #ffffff !important;
}

/*Header*/
#header{
    background-color: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#header h1{
    padding-left: 10px;
}

/*District*/
#display {
    background-color:  #393F4C;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}

/*Landing page*/
#font {
    font-family: 'Lobster', cursive;
}
#appDescription{
    font-size: 20px;
    background-color: rgba(8, 26, 38, .6);
    text-align: center;
    margin-top: 10px;
    padding: 10px 60px 10px 60px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 25%;
    
}
.image{
    background: url("./images/cap.jpg") no-repeat;
    background-size: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(0px);
}

.heading h1{
    z-index: 2;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    font: ;
}

#main-submit{
    width: 500px;
    margin-top: 5%;
    text-align: center;
}

#main-submit .btn {
    background-color: #ca4f4f;
    color: #eeeeee;
    width: 150px;
    border-radius: 15px;
}
/*Modal*/
.modal-header{
    background-color: #ca4f4f;
    color: #eeeeee;

}
#myModalLabel{
    font-size: 30px;
    text-align: center;
}

.signup {
    background-color: #09324B;
    color: #eeeeee;
    /*padding: 25px;*/
}

.signup label{
    font-size: 20px;
    padding: 10px;
}


#signup-btn{
    background-color: #ca4f4f;
    color: #eeeeee;
    font-size: 20px;
    padding: 15px;
}

.signup{
    padding: 15px;
}

/*End landing page*/

/*Main page*/
.job {

    /*padding: 0px;*/
}

/*Map Page*/
#col-lg-12 {
    padding: 10px;
    margin: 5px;
}
.places{
    /*padding: 10px;*/
    margin: 10px;
    /*border: 2px solid #993300;*/
    background-color: white;
}

/*.places p{
    padding:0px;
    margin: 0px;
}*/
/*.places p:hover {
    color: red;
}*/
.places p.map {
    padding: 50px;
    border: 2px solid blue;
}
#voterMap {
    height: 40vw;
    width: 40vw;
    margin:0 auto;
}
#mapbody {
    background-color: #f4f4f4;
}
h3 {
    color: white;
}
/*End Map Page*/
